In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("C:\\Users\\SUNDAR\\Desktop\\folder\\mini project\\code\\dataset.csv")
print(data)

      Latitude  Longitude  Depth  Magnitude
0        29.06      77.42    5.0        2.5
1        19.93      72.92    5.0        2.4
2        31.50      74.37   33.0        3.4
3        28.34      76.23    5.0        3.1
4        27.09      89.97   10.0        2.1
...        ...        ...    ...        ...
2714     12.30      94.80   10.0        4.8
2715     24.70      94.30   40.0        4.1
2716     22.50      88.10   10.0        3.6
2717     24.60      94.20   54.0        3.5
2718     14.50      92.90   10.0        4.6

[2719 rows x 4 columns]

In [3]:
data.head()

   Latitude  Longitude  Depth  Magnitude
0     29.06      77.42    5.0        2.5
1     19.93      72.92    5.0        2.4
2     31.50      74.37   33.0        3.4
3     28.34      76.23    5.0        3.1
4     27.09      89.97   10.0        2.1

In [4]:
data.corr()

           Latitude  Longitude     Depth  Magnitude
Latitude   1.000000  -0.604389  0.307276   0.145171
Longitude -0.604389   1.000000 -0.246407  -0.085008
Depth      0.307276  -0.246407  1.000000   0.336975
Magnitude  0.145171  -0.085008  0.336975   1.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2719 entries, 0 to 2718
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   2719 non-null   float64
 1   Longitude  2719 non-null   float64
 2   Depth      2719 non-null   float64
 3   Magnitude  2719 non-null   float64
dtypes: float64(4)
memory usage: 85.1 KB

In [6]:

data.isnull()

      Latitude  Longitude  Depth  Magnitude
0        False      False  False      False
1        False      False  False      False
2        False      False  False      False
3        False      False  False      False
4        False      False  False      False
...        ...        ...    ...        ...
2714     False      False  False      False
2715     False      False  False      False
2716     False      False  False      False
2717     False      False  False      False
2718     False      False  False      False

[2719 rows x 4 columns]

In [7]:
X=data[['Latitude','Longitude','Depth']]
Y=data['Magnitude']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 100)

In [8]:
#multi linear regression
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)
print("Intercept:",mlr.intercept_)
print("coefficients:")
list(zip(X,mlr.coef_))

Intercept: 3.032452254124304
coefficients:

[('Latitude', 0.009256706024398691),
 ('Longitude', 0.0033837970689275876),
 ('Depth', 0.003554713123607758)]

In [9]:
y_pred_mlr=mlr.predict(x_test)
print(y_pred_mlr)

[4.11675117 3.62574402 3.98575605 3.59803427 3.61325516 3.69562766
 4.07853085 3.61252732 3.74939629 3.49689983 3.64662689 3.99103834
 4.44455079 3.60056659 3.48136394 3.58680697 3.66112549 3.68668272
 3.64230354 4.21449202 3.652439   4.06610816 3.67430053 3.60282692
 3.68578289 3.45960138 3.64615076 3.62624438 3.65378047 3.64574115
 3.66687854 3.60297122 3.58996816 3.69851767 4.45268877 3.56404004
 3.64850335 3.68615026 3.62504625 3.67834504 3.63211153 3.67827313
 3.73260188 3.65318999 4.16925333 3.62414697 3.72316185 3.92558746
 3.63623517 3.48203875 3.63544934 3.66287189 3.60777042 3.74193839
 4.1267068  3.6558617  3.67461371 3.61829491 3.56499914 3.6383907
 3.60197088 3.49947393 3.62119159 4.0128678  3.47429376 4.26373724
 4.03078585 3.63918494 3.6193396  3.72196065 3.50232288 3.64426741
 4.0860162  3.51657637 3.48219004 3.64938209 3.58644901 3.65508755
 3.86634786 4.04643404 3.81942931 3.91641539 3.79417639 3.72969396
 3.93888774 3.62667612 4.24376135 3.48389009 3.61820868 3.61236787
 3.69909568 3.68711561 3.59478667 3.79959611 3.52860968 3.43764895
 3.47151491 3.96177819 4.03882966 3.60851941 3.606386   3.62077582
 4.32314661 3.72144732 3.49981231 3.98955972 3.57225915 3.64967483
 3.57883531 3.62446485 3.5742458  3.67654648 3.73194907 3.69714868
 3.66051183 3.75441878 3.55206191 4.49079475 3.68900584 3.59898285
 3.59489005 3.50016641 3.96943062 3.76922148 3.6979563  3.66667424
 3.62626647 3.61364333 3.95547434 3.61626724 3.48225772 3.63213021
 3.91845829 3.65561287 3.61232693 3.74315815 3.59578774 3.52966571
 4.23638246 3.65906817 3.69589607 3.48319039 4.15514006 3.61944062
 3.61252732 4.14621917 3.64973299 3.60410291 3.60459046 3.6228048
 3.73669328 3.69272736 3.65223596 3.48179293 3.71642879 3.65634919
 3.69576084 3.56947852 3.59801714 3.67668182 3.95621755 3.48170037
 4.32406023 3.62803332 4.4990617  4.17567962 3.66787307 3.62990828
 3.6022049  3.63795978 3.62639394 3.62814666 3.78621724 3.60229446
 3.50617957 3.58720873 3.63419241 3.6403525  3.97064742 4.20356039
 3.67555838 3.67584252 3.66000832 3.5802627  4.25328646 3.75576897
 3.51178251 3.61395421 3.6249794  3.63076639 4.21302151 3.4995665
 3.62973875 3.6220058  3.55148246 3.52189995 4.02063638 4.69808441
 3.67689632 4.03708798 3.6995423  4.21921203 3.83679625 3.62203754
 3.76975489 4.15617018 3.65141239 4.13571435 3.6510076  3.63331073
 3.67732051 3.44493037 3.63531167 3.62008093 4.01097053 4.21564025
 3.72974099 3.49325829 3.64872933 3.6708859  3.66633631 4.35394598
 3.52467798 3.46116802 3.53475266 4.2961884  4.26205568 3.69094966
 3.39312729 3.6014235  3.42418135 3.83216055 3.63319515 3.56592481
 3.66717609 4.11628606 3.60506634 3.56698422 3.92144087 4.00325545
 3.58460146 4.34803912 3.6128657  3.44280366 3.55652727 3.6600313
 4.35513307 3.85125104 3.75505402 3.61343361 3.72908785 3.58893028
 3.60661681 3.72558638 3.66330409 3.90670514 3.49887575 3.49904299
 3.6498826  3.61463457 3.49864978 3.52444926 3.63698605 3.49199261
 4.57779657 3.66444622 3.61252732 3.67860669 4.14082264 4.0331124
 3.74122044 3.61348098 3.67388158 4.4999333  3.63585458 3.64160981
 3.82351924 4.30179987 4.38956309 3.6280512  3.90430424 4.2383265
 3.70021119 3.78507672 3.60754395 4.64067219 3.78735304 3.58472966
 3.59988947 3.63487833 3.62694409 3.66446123 3.68032177 3.56719837
 3.92611636 4.4121541  4.25581456 3.46696534 4.16033476 3.49947393
 3.57901069 3.61412975 3.51360355 4.13906076 3.63607138 3.50575622
 3.59863077 3.6108343  3.63350574 3.93422143 4.28616704 3.4362784
 3.63399247 3.6499212  3.51680927 3.4965329  3.63751102 3.68105874
 4.15583375 3.61582929 3.61163254 4.02299415 3.70116851 4.26085929
 4.14407923 3.72418939 4.04128469 3.93272073 3.57680308 3.62358375
 3.93628359 3.8540643  3.70001423 3.61964469 3.68367631 4.16997666
 3.5851995  3.81230129 3.68970271 3.67984196 3.64901816 3.62690354
 3.66009535 3.57655027 3.91042549 3.61965167 3.71708567 4.3251302
 4.06794701 3.55769181 3.62936367 3.7354328  3.61486588 3.81625368
 3.49488067 3.82807095 4.01439509 4.20838902 3.78153955 3.64291892
 3.64869433 3.65758686 3.59791483 3.64911153 4.1967609  3.63496859
 3.60832681 3.46734995 3.62901666 3.66784036 4.12482789 3.61329469
 4.07142027 3.52164822 3.6284202  3.6452689  3.66903901 4.06725842
 3.60041318 3.58835508 3.95332556 3.75382023 4.50286311 3.77590008
 3.60403523 4.5354481  3.63595357 3.86777217 3.90269471 3.57805623
 3.6263523  3.61252732 3.61685289 3.65042031 4.45613107 3.6122784
 3.94277039 3.6640881  3.88205683 3.63690726 3.63480878 3.63025674
 3.66019755 3.79929017 3.60466887 4.14566422 3.61123463 4.15765787
 3.78924946 3.89133636 3.6836233  4.04006378 3.49913555 3.63118059
 3.87740439 3.73141696 3.67314213 4.46162718 3.61823298 3.65794599
 3.59586364 3.50657293 3.68780614 3.65860281 4.2582053  3.62971351
 3.6211137  4.27045127 3.79953562 3.40592855 3.68200193 3.62950551
 3.68717644 4.36651307 3.65368505 4.13125729 3.59505542 3.65862001
 3.84451407 4.16464598 3.48378158 3.6891287  3.5878733  3.52269921
 3.64948099 3.60029173 3.58919838 3.68503008 3.87441793 3.54523994
 3.59966431 3.69465498 3.65328659 3.72089261 3.63839554 3.60882727
 3.61048868 4.11958383 3.62930134 3.4818785  3.95514638 3.75953577
 3.64374318 3.97391047 3.62664971 3.6708126  3.66474523 3.57546126
 3.79101936 3.52583192 3.65577188 3.63686652 3.52831758 3.66408616
 3.97697249 3.88596037 3.81482968 3.94831637 3.70245574 3.61429309
 3.72055939 3.63583532 3.66016303 3.61319797 3.61222163 3.64396192
 3.62859751 3.7492535  3.69556117 3.64848466 3.53739893 3.63876733
 3.68237877 3.41356653 3.66033827 3.64569927 3.5998834  4.18645922
 3.62479734 4.0079407  3.64053294 3.64239152 3.6622744  3.62508524
 3.67081466 3.74225084 3.62055436 3.48353771 3.68487646 3.64928691
 3.56955752 3.95827156 4.13310297 3.59810891 4.29487625 3.5287722
 3.62678804 3.60974525 3.76165083 3.87688373 3.62828187 3.61042706
 3.63716246 3.6533657  3.61236707 4.14964792 3.80169634 3.96369296
 3.57804809 3.67554547 3.63662127 3.66075734 3.61992523 3.68114042
 3.60226848 3.63097764 3.67730461 3.66388645 3.7477543  3.57644176
 3.94242386 3.62532615 3.62626329 3.61844922]